@page
@model AmarilloMarble.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Customer.CustomerFullName)</h1>
<p>
    <a asp-page="AddJob">Add Job</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job.JobAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.JobBuilder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job.JobDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer.Jobs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobBuilder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDate)
            </td>
            <td>
                <a asp-page="./EditJob" asp-route-id="@item.JobId">Edit</a> |
                <a asp-page="./DeleteJob" asp-route-id="@item.JobId">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-page="Index">Back to List</a>
</div>
